@mixin flexCenter($direction: row) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

@mixin flexStart($direction: row) {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: $direction;
}

@mixin subTitle {
	font-size: 1.65em;
	font-family: $ff-title;
	font-weight: 400;
}