@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro&display=swap");
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss",
	"~@fortawesome/fontawesome-free/scss/regular.scss";

$ff-title: "Montserrat", sans-serif;
$ff-text: "Source Sans Pro", sans-serif;

$clr-bg-dk: #385170;
$clr-bg-lt: #e7eaf6;

$clr-danger-high: #d62828;
$clr-danger-medium: darken(#fcbf49, 15%);
$clr-danger-low: #a7c957;

$clr-base-dk: #001d3d;
$clr-base-lt: lighten(#001d3d, 30%);


$clr-border-sep: rgba($clr-base-dk, 0.5);

$clr-ntrl-w: #fff;
$clr-ntrl-b: #000;
