@import "mixins", "variables";

#main-display {
	@include flexStart(column);
	height: 100%;
	width: 100%;
	padding: 3em 12em;
	background-color: $clr-bg-lt;

	.title--main {
		@include subTitle;

		font-size: 2.7em;
		border-bottom: 2px solid $clr-border-sep;
		padding-bottom: 1rem;
		padding-left: 1.25rem;
		width: 95%;
	}

	#todo-list {
		@include flexStart(column);
		margin-top: 1.7rem;
		padding: 0 1.5em;
		width: 100%;
		row-gap: 1rem;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 0.3em;
			border-radius: 20px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $clr-border-sep;
			border-radius: 20px;
		}
	}
}

.todo-item {
	@include flexStart(column);
	width: 95%;
	padding: 0.5rem 0.9rem;
	border: 2px solid rgba($clr-base-dk, 0.8);
	border-radius: 20px;
	cursor: pointer;

	&:hover {
		outline: 1px solid $clr-base-dk;
		border: 2px solid $clr-base-dk;
	}
}

.container {
	@include flexStart(row);
	flex: 0;
	align-items: center;
	width: 100%;
	height: 100%;

	.priority {
		flex: 0.05;
		height: 75%;
		border-radius: 5px;
	}

	// Checkbox styling
	label {
		@include flexCenter();
		flex: 0.3;
		position: relative;
		cursor: pointer;

		input[type="checkbox"] {
			appearance: none;
			margin: 0;
			width: 1.35em;
			height: 1.35em;
			border: 0.15em solid rgba($clr-base-dk, 0.8);
			border-radius: 50%;
			display: grid;
			place-content: center;

			&::before {
				content: "";
				transform: rotate(10deg);
				transform: scale(0);
				transition: 120ms transform ease-in-out;
				transform-origin: center;
				height: 0.7em;
				width: 0.7em;
				box-shadow: inset 1em 1em $clr-base-lt;
				clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
			}

			&:checked::before {
				transform: scale(1);
			}

			&:checked {
				border: 0.15em solid $clr-base-lt;
			}
		}
	}

	.todo-title {
		@include subTitle;
		font-size: 1.25em;
		flex: 4;
	}

	.due-date {
		@include subTitle;
		font-size: 1em;
		flex: 1.5;
	}

	.fa-trash-alt {
		flex: 0.4;
		font-size: 1.1em;
		justify-self: flex-end;
		cursor: pointer;
		transition: 300ms;

		&:hover {
			color: $clr-danger-high;
		}
	}
}

@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
		max-height: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
		max-height: 8em;
	}
}

@keyframes remove-animate {
	from {
		transform: scale(1);
		opacity: 1;
		max-height: 8em;
	}
	to {
		transform: scale(0);
		opacity: 0;
		padding: 0;
		border: none;
		max-height: 0;
	}
}

.expanded {
	display: block;
	margin-top: 0.4rem;
	border-top: 2px solid $clr-border-sep;
	padding: 0.5em 1em;
	height: 100%;
	width: 100%;
	animation: append-animate 0.3s ease-out;

	.subtitle--desc {
		@include subTitle();

		font-size: 1.4em;
	}

	.par--desc {
		font-family: $ff-text;
		font-size: 1em;
		padding: 0.2rem;
	}
}

.hidden {
	transform: scale(0);
	opacity: 0;
	padding: 0;
	border: none;
	max-height: 0;
}

.hide {
	animation: remove-animate 0.3s ease-out;
	animation-fill-mode: forwards;
}

.low {
	background-color: $clr-danger-low;
}
.medium {
	background-color: $clr-danger-medium;
}
.high {
	background-color: $clr-danger-high;
}

.new--todo {
	@include flexStart(row);
	align-items: center;
	padding: 1em 2em;
	column-gap: 1rem;

	span {
		@include flexCenter();
		background-color: $clr-base-dk;
		border-radius: 50%;
		width: 2em;
		height: 2em;
		cursor: pointer;
		transition: transform 100ms ease-in-out;

		.fa-plus {
			color: $clr-bg-lt;
		}
		&:hover {
			transform: scale(1.1);
			background-color: rgba($clr-base-dk, 0.9);
		}
	}

	.subtitle {
		@include subTitle;
		font-size: 2em;
	}
}

#todo-add {
	@include flexCenter(column);
	font-size: 1.1em;
	row-gap: 1rem;
	border: 2px solid $clr-border-sep;
	width: 30em;
	border-radius: 10px;
	padding: 2.25em 2em 1em 2em;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $clr-bg-input;
	
	.fa-times {
		position: absolute;
		font-size: 1.1em;
		color: $clr-border-sep;
		top: 10px;
		right: 15px;
		cursor: pointer;

		&:hover {
			color: $clr-danger-high-lt;
			transform: scale(1.2);
		}
	}

	.container {
		@include flexStart();
		align-items: center;
		justify-content: space-between;

		.inputTitle {
			@include textInput;
			width: 40%;
		}

		.inputDate {
			@include textInput;
			width: 40%
		}
	}

	.inputDesc {
		@include textInput;
	}

	.container--radio {
		@include flexCenter();
		justify-content: flex-start;
		width: 100%;
		column-gap: 1rem;

		h1 {
			@include subTitle;
			font-size: 1.3em;
			color: $clr-ntrl-w;
		}
	}

	#priorHigh {
		@include radioPriority($clr-danger-high-lt);
		width: 3.5em;

		&::before {
			content: "High";
		}
	}

	#priorMed {
		@include radioPriority($clr-danger-medium);
		width: 5em;

		&::before {
			content: "Medium";
		}
	}

	#priorLow {
		@include radioPriority($clr-danger-low);
		width: 3.2em;

		&::before {
			content: "Low";
		}
	}

	input[type="submit"]{
		@include submitBtn;
	}
}
