@import "variables", "./reset.css", "./mixins";
@import "mainDisplay.scss", "sidebar.scss";

header {
	background-color: $clr-bg-dk;
	color: $clr-ntrl-w;

	.title {
		font-size: 2.5em;
		font-family: $ff-title;
		font-weight: 600;
		padding: 1.5rem 0.75em;
	}
}

main {
	@include flexCenter(row);
	height: 80%;
	width: 100%;
}
