#sidebar-display {
	@include flexStart(column);
	gap: 1.15rem;

	border-right: 2px solid $clr-bg-dk;
	padding: 1.75em;
	height: 100%;
	width: 17%;
	min-width: 14rem;
	background-color: $clr-bg-lt;
	color: $clr-ntrl-b;

	.subtitle {
		@include subTitle;

		&--project {
			@extend.subtitle;
			font-size: 1.1em;
		}
	}

	.new-project {
		@include flexStart(row);
		align-items: center;
		justify-content: space-between;
		width: 100%;
		position: relative;

		h1 {
			flex: 4;
		}

		span {
			@include flexCenter();
			flex: 0.5;
			height: 1em;
			width: 1em;
			cursor: pointer;
			font-size: 1.1em;

			&:hover {
				font-size: 1.2em;
				transition: font-size 125ms ease-in-out;
				transform-origin: center;
				color: rgba($clr-base-dk, $alpha: 0.9);
			}
		}
	}
}

#project-list {
	@include flexStart(column);
	gap: 0.5rem;
	padding-left: 1.25rem;
	overflow: auto;
	overflow-x: hidden;
	max-height: 20em;
	width: 100%;

	&::-webkit-scrollbar {
		width: 0.3em;
		border-radius: 20px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $clr-border-sep;
		border-radius: 20px;
	}

	.project-item {
		position: relative;
		cursor: pointer;
		padding: 0.35em 0.5em;
		display: grid;
		width: 93%;
		min-width: 9rem;
		grid-template-columns: 1fr 0.15fr 0.15fr;
		column-gap: 0.5rem;
		align-items: center;
		transition: 200ms ease-in;

		&:hover {
			background-color: rgba($clr-bg-dk, $alpha: 0.2);
			border-radius: 3px;
		}

		span {
			@include flexCenter(row);
			cursor: pointer;
			color: rgba($clr-ntrl-b, $alpha: 0.7);
			height: auto;
			transition: opacity 0.2s ease-in, transform 200ms;
			transform-origin: center;

			&:hover {
				color: rgba($clr-ntrl-b, $alpha: 1);
			}

			opacity: 0;
		}

		&:hover > span {
			opacity: 1;
		}
	}

	.active {
		background-color: rgba($clr-bg-dk, $alpha: 0.2);
		border-radius: 3px;

		span {
			opacity: 1;
		}
	}
}

.project-change-name {
	position: absolute;
	font-size: 1em;
	width: 64%;
	height: 90%;
	transform: scale(0);

	&.open {
		transform: scale(1);
	}

	input[type="text"] {
		height: 100%;
		@include textInput;
		padding: 0;
		padding-left: .5em;
		margin-left: .1rem;
	}
}

#project-add {
	@include flexStart(column);
	row-gap: .5rem;
	position: absolute;
	right: -105%;
	width: 100%;
	transform: scale(0);
	z-index: 5;
	
	font-family: $ff-title;
	font-size: .9em;
	border: 2px solid $clr-border-sep;
	border-radius: 12px;
	padding: .75em 1.25em .5em .65em;
	background-color: $clr-bg-input;
	transition: transform 200ms ease-in-out;
	transform-origin: left;

	&.open {
		transform: scale(1);
	}

	div {
		@include flexCenter;
		width: 100%;
		justify-content: space-between;
	}

	input[type="text"] {
		@include textInput;
	}

	input[type="submit"]{
		@include submitBtn;
	}
}



.cancel {
	border: none;
	border-radius: 8px;
	padding: .25em .75em;
	cursor: pointer;
	background-color: $clr-bg-lt;

	&:hover {
		background-color: $clr-danger-high-lt;
		color: $clr-ntrl-w;
		outline: 1px solid $clr-danger-high;
	}
}
